VITE_API_BASE_URL=http://localhost:8000
#100,000m = 10,000hectare -> 10m = 1hr 
VITE_MAX_AREA_HECTARES=1000
# Map Configuration
VITE_MAP_API_KEY=your_maptiler_api_key
VITE_MAP_DEFAULT_CENTER_LAT=28.6139
VITE_MAP_DEFAULT_CENTER_LNG=77.209
VITE_MAP_DEFAULT_ZOOM=10
